#main-about{
	margin-top: 50px;
}

#cards{
    text-align: center;
}

.card{
	border: 2px dotted black;
	width: 300px;
	display: inline-block;
}

.bargraph {
    list-style: none;
    width:560px;
}

#about-me{
    color: #524848;
    margin-top: -111px;
    font-family: 'Simonetta', cursive;
    font-size: 35px;    
}

h3{
    color: #524848;
}

.first-bar:hover,
.second-bar:hover,
.third-bar:hover,
.fourth-bar:hover,
.fifth-bar:hover,
.sixth-bar:hover,
.seventh-bar:hover,
.eighth-bar:hover,
.ninth-bar:hover,
.tenth-bar:hover {
    color: #CCC5D4
}

ul.bargraph li {
    height: 28px;
    color: white;
    text-align: left;
    font-style: italic;
    font-weight: bolder;
    font-size: 14px;
    line-height: 30px;
    padding: 0px 20px;
    margin-bottom: 5px;
    border-radius: 100px;
}

ul.bargraph li.first-bar {
    background: #2f0956;
    width: 100%;
}
 
ul.bargraph li.second-bar {
    background: #330066;
    width: 95%;
}
 
ul.bargraph li.third-bar {
    background: #400080;
    width: 93%;
}
 
ul.bargraph li.fourth-bar {
    background: #4d0099;
    width: 85%;
}
 
ul.bargraph li.fifth-bar {
    background: #5f06b9;
    width: 75%;
}
 
ul.bargraph li.sixth-bar {
    background: #6817bb;
    width: 74%;
}
 
ul.bargraph li.seventh-bar {
    background: #7a30c1;
    width: 60%;
}
 
ul.bargraph li.eighth-bar {
    background: #834abb;
    width:  50%;
}
 
ul.bargraph li.ninth-bar {
    background: #9573b7;
    width: 30%;
}
 
ul.bargraph li.tenth-bar {
    background: #b7a7c7;
    width: 20%;
}

.bargraph {
    width: 58.536585%;
    margin-top: 15px;
}

.reddeep {
    width: 100%;
    height:auto;
}