body{
	font-family: verdana;
}

#main-contact{
    margin-top: -100px;  
}

#contact{
    color: #524848;
    margin-bottom: 60px;
    font-family: 'Simonetta', cursive;
    font-size: 35px;    
}
 
.form-wrapper{
	margin: 10px;
    font-size: 15px;
    margin-top: -20px;
}
 
.form-wrapper label{
	display: block;
	font-size: 14px;
}
 
.form-wrapper input[type=text], .form-wrapper input[type=email]{
	margin-bottom: 10px;
	width: 180px;
	height: 20px;
	border: 1px solid #eeeeee;
}
.form-wrapper span{
	color: #ee0000;
}
 
.form-wrapper input[type=submit]{
	display: block;
	border: 0px;
	background: #422f74;
	color: #ffffff;
	height: 30px;
	border-radius: 5px;
}
 
.form-wrapper input[type=submit]:hover{
	background: #ee0022;
}
 
.form-wrapper textarea{
	border: 1px solid #eeeeee;
}
 
#loading-img{
	display: none;
}
 
.response_msg{
    margin-top: 10px;
	font-size: 13px;
	background: #E5D669;
	color: #ffffff;
	width: 250px;
	padding: 3px;
	display: none;
}

.box {
    padding: 10px;
    text-align: center;
}
          
#submit_form {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 20px/50px;
    text-decoration: none;
    padding-bottom: 27px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#submit_form:hover {
    background: orange;
}

.overlay {
    position: absolute;
    top: -15px;
    bottom: -50px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
}

.overlay:target {
    visibility: hidden;
    opacity: 0;
    display: none
}

#popup-container{
 	padding-top: 1px;
   /* position: absolute;*/
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: 100%;
}

.popup {
    margin: 70px auto;
    margin-top: 206px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    border: 5px solid #331f65;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: -12px;
    right: -12px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    color: #331f65;
    border: double #673AB7;
    padding-left: 10px;
    padding: 8px;
}

.content span{
    color: #aea1d0;
    font-size: 26px;
}

label{
    color: rgba(51, 21, 128, 0.91);
    font-weight: bolder;
    font-size: 15px;
}

#form-name,
#city,
#email,
#message{
    border-radius: 9px;
    color: #757575;
    padding-left: 10px;
    border-color: rgba(53, 33, 106, 0.83) rgba(52, 33, 105, 0.42) rgba(79, 61, 125, 0.62) rgb(47, 29, 95);
    box-shadow: 3px 2px 1px rgba(52, 33, 105, 0.44) inset;
}

::-webkit-input-placeholder { 
    color: #e1dbf0;
}

#exitImage{
	width: 30px;
}