body {
    margin: 0;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

#content-data {
    width: 90%;
    margin:0 auto;
}

#container{
    background-image: url("../images/BG1.jpg");
    background-color: black;
}

#content{
    background-color: white;
    background-image: url("../images/BG6.jpg");
    width: 80%;
    margin:0 auto;
    height: 100%;    
}

header{
    width: 100%;
    margin-top: -30px;
    height: 93px;
    background-color: white;
    box-shadow: 0px 8px 10px 0px #656565;
    position: fixed;
    z-index: 100;
}

button {
    background-color: white; 
    color: #331f65; /* Green */
    border: none;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
}

h2{
    text-align: center;
}

p{
    text-indent: 50px;
    text-align: justify;
    margin: 10px 10px;
}

.name{
    font-family: 'Lobster', cursive;
}

#logo{
    width: 156px;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    border-radius: 27px;
    box-shadow: -1px 31px 11px -21px #656565;
}

#name{
	color: black;
	float: left;
	margin: auto;
	padding-left: 12px;
    padding-right: 12px;
}

#menu{
	margin: 23px 0px 0px;
	float: right;
}

#clear {
    clear: both;
}

section{
	padding-top: 140px;
}

#separator-image{
    width: 390px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;

}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    float: right;
    margin-top: 21px;
    margin-right: 10px;
    border: 1px solid #331f66;

}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: #635656;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    float: right;
}

ul.topnav li button:hover {
    background-color: #422f74;
    color: #b7a7c7;

}

ul.topnav li.icon {display: none;}

@media screen and (max-width:700px) {
    ul.topnav li {
        display: none; 
    }

    ul.topnav li.icon {
        float: right;
        display: inline-block;
        margin-top: 0;
    }
}

@media screen and (max-width:700px) {
    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li a{
        color: white;
    }

    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.topnav.responsive li {
        float: none;
        display: list-item;
        min-width: 115px;
        background-color: #422f74;
    }

    ul.topnav.responsive .item:first-child {
        margin-top: 50px;
    }

    ul.topnav.responsive li button {
        display: block;
        text-align: left;
        background-color: #422f74;
        color: white;
    }
}