#intro{
    color: #422f74;
    font-family: 'Playball', cursive;
    font-size: 40px;
    text-align: center;
}

#welcome{
    padding-top: 150px;
    color: #524848;
    text-align: center;
    font-size: 45px;
   /* z-index: 1;*/
    overflow: hidden;
    position: relative;
}